body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/bodybackground.jpg) ;
  }

  .container {
    max-width: 800px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .bloc {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px;
    width: calc(50% - 40px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .bloc:hover {
    transform: translateY(-5px);
  }
  
  .bloc h2 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-bottom: 10px;
    border-bottom: 2px solid #d9d9d9;
  }
  
  .bloc-1 {
    background: linear-gradient(to right, #ffffff, #000000);
    color: rgb(255, 255, 255);
  }
  
  .bloc-1 h2 {
    border-color: rgb(0, 0, 0);
  }
  
  .bloc-2 {
    background: linear-gradient(to right, #ffffff, #000000);
    color: rgb(255, 255, 255);
  }
  
  .bloc-2 h2 {
    border-color: rgb(0, 0, 0);
  }
  
  .bloc-3 {
    background: linear-gradient(to right, #ffffff, #000000);
    color: #fffcfc;
  }
  
  .bloc-3 h2 {
    border-color: rgb(0, 0, 0)white;
  }
 
  
  